@import "../../global.scss";

.works {
  // background-color: crimson;
  // border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  position: relative;
  padding: 0 150px;
  padding-top: 0;

  @include mobile {
    overflow: hidden;
    padding: 0;
  }

  h1 {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: black;
    text-shadow: 10px 8px 7px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
    // font-family: 'Dancing Script', cursive;

    @include mobile {
      font-size: 25px;
      // border: 2px solid red;
      text-shadow: 5px 4px 4px rgba(68, 41, 41, 0.3);
      margin-bottom: 0;
      // margin-bottom: 20px;
    }
  }

  .slider {
    height: fit-content;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    // border: 2px solid red;
    padding: 30px;
    flex-direction: column;

    .container {
      background: rgb(231, 181, 181);
      // border: 2px solid red;
      border-radius: 10px;
      padding: 30px;
      width: 100%;
      position: relative;
      transition: all 0.3s ease;

      @include mobile {
        padding-top: 50px;
      }

      &:hover {
        box-shadow: -1px -2px 30px 1px rgba(0, 0, 0, 0.76);
        -webkit-box-shadow: -1px -2px 30px 1px rgba(0, 0, 0, 0.76);
        -moz-box-shadow: -1px -2px 30px 1px rgba(0, 0, 0, 0.76);
      }

      h2 {
        font-size: 20px;
      }
      h4 {
        font-size: 18px;
        margin-bottom: 5px;
      }

      .slogan {
        color: rgb(67, 63, 63);
        font-size: 16px;
        font-weight: 500;
        margin-top: 5px;
      }

      .domains {
        // border: 2px solid red;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        justify-content: flex-start;

        .domain {
          margin-right: 20px;
          padding: 5px 10px;
          background: white;
          border-radius: 5px;
          font-weight: 700;
        }
      }

      .urls {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        justify-content: space-around;
        width: 100px;

        .url {
          text-decoration: none;
          color: $maincolor;
          font-weight: 500;
        }
      }
    }
  }

  .button {
    border: 2px solid $maincolor;
    position: unset;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: 500;
    color: $maincolor;
    font-size: 22px;
    transition: all 0.5s ease;
    border-radius: 5px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 20px;

    @include mobile {
      position: relative;
      width: 80%;
      margin: 30px 0;
    }

    &:hover {
      background: $maincolor;
      color: white;
      letter-spacing: 3px;
    }
  }
}
