@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  h1 {
    font-size: 50px;
    margin: 20px 0;
    text-shadow: 10px 8px 7px rgba(68, 41, 41, 0.3);
    padding: 0 20px;
    
    @include mobile{
      font-size: 25px;
      // border: 2px solid red;
      text-shadow: 5px 4px 4px rgba(68, 41, 41, 0.3);
      margin: 15px 0;
    }
  }

  ul {
    margin: 20px 10px;
    padding: 0;
    list-style: none;
    display: flex;

    @include mobile{
      flex-wrap: wrap;
      justify-content: center;

    }

    // li{
    //     font-size: 14px;
    //     margin-right: 5px;
    //     padding: 7px;
    //     border-radius: 5px;
    //     cursor: pointer;

    //     &.active{
    //         color: white;
    //         background-color: $maincolor;
    //     }
    // }
  }

  .container {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    @include mobile{
      width: 100%;
    }

    .item {
      width: 300px;
      height: 200px;
      border-radius: 20px;
      border: 1px solid lightgray;
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      position: relative;
      transition: all 0.5s ease;
      cursor: pointer;

      @include mobile{
        width: 130px;
        height: 100px;
      }

      h3 {
        position: absolute;
        font-size: 20px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }

      &:hover {
        background-color: $maincolor;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  > a {
    position: absolute;
    bottom: 10px;
    left: 70%;

    @include mobile{
      left: 50%;
      transform: translateX(-50%);
    }

    img {
      width: 30px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0;
      }
    }
  }
}
